
*.cache
*.ide-shm
*.lock
BubbleTeaWeb/.vs/BubbleTeaWeb/v15/Server/sqlite3/storage.ide-wal
BubbleTeaWeb/.vs/BubbleTeaWeb/v15/Server/sqlite3/storage.ide-shm
*.dll
BubbleTeaWeb/.vs/BubbleTeaWeb/v15/.suo
BubbleTeaWeb/.vs/BubbleTeaWeb/v15/.suo
*.ide-wal
*.ide-shm
*.pdb
*.dll
*.cache
