
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLandingPage.cshtml";
}



<div class="parallax">

</div>

@*<div style="height:1000px;background-color:grey;font-size:36px">
    Scroll Up and Down this page to see the parallax scrolling effect.
    This div is just here to enable scrolling.
    Tip: Try to remove the background-attachment property to remove the scrolling effect.
</div>*@


<section>
        <div class="container-fluid px-0">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="text-white d-none d-lg-block">
                        <h2 class="text-center">Bubble Tea</h2>
                        <h2 class="text-center">Bubble Tea</h2>
                        <h2 class="text-center">Bubble Tea</h2>
                        <h2 class="text-center">Bubble Tea</h2>
<<<<<<< HEAD
                        <h2 class="text-center">DAROU PUSH TEST</h2>
=======
                        <h2 class="text-center">Bubble Tea</h2>
                        <h2 class="text-center">Bubble Tea</h2>


>>>>>>> 14fa04e8edc9804eee15be5a0ccc2d5503dc63c9
                    </div>
                </div>
                <div class="col-lg-6 px-0">
                    <img class="img-fluid" src="~/Content/css/images/bar-beverage-blur-1148215.jpg" />
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid px-0">
            <div class="row align-items-center">

                <div class="col-lg-6 px-0">
                    <img class="img-fluid" src="~/Content/css/images/bar-beverage-blur-1148215.jpg" />
                </div>
                <div class="col-lg-6">
                    <div class=" d-none d-lg-block">
                        <p class="p-4">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet nibh velit. Curabitur vel tortor nisi. Vivamus consequat risus eget tristique sollicitudin. Ut scelerisque, turpis vel fringilla dapibus, augue justo commodo purus, vel elementum leo justo a nulla. Integer porttitor porta nisl, at feugiat arcu imperdiet sed.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>